.form {
  margin-left: 30%;
  margin-top: 40px;
  background-color: white;
  width: 500px;
  padding-left: 50px;
  height: 480px;
}
.name {
  margin-left: 35%;
  margin-top: 200px;
  color: green;
}
.inputBox {
  width: 450px;
  height: 20px;
}
p {
  font-weight: bold;
}
.add {
  margin-left: 360px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
}
.add:hover {
  cursor: pointer;
  color: black;
}
