.prodDiv{
   display: flex;
   justify-content: space-between;
   width: 70%;
   margin-left: 15%;
   margin-top:50px ;
   background-color: white;
}
.pic{
   height: 150px;
   width: 100px;
   margin-top: 15px;
   margin-left: 10px;
}

.innDiv{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 40px;
   width : 270px;
}
 .price {
   font-weight: normal;
 }
 .endDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 